/* Product Literature styles */
.literature-grid {
    display: flex;
    flex-direction: row;
}
.literature-content {
    text-align: center;
    position: relative;
    top: -15%;
}
a#spec-sheet-link,
a#brochure-link {
    color: #333F48;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-top: 30px;
}
a#spec-sheet-link::after,
a#brochure-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #333f48;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}
a#spec-sheet-link:hover::after,
a#brochure-link:hover::after {
    width: 100%;
}
a#spec-sheet-link:hover,
a#brochure-link:hover {
    color: #333F48;
}